input {
	file {
		path => "/home/ubuntu/logstash_csv.config"
		start_position => "beginning"
		sincedb_path => "/dev/null"
	}
}
filter {
	csv {
		seperator => ","
		columns => [ "timeStamp", "elapsed", "label", "responseCode", "responseMessage", "threadName", "dataType", "success", "failureMessage", "bytes", "sentBytes", "grpThreads", "allThreads", "Latency", "IdleTime", "Connect" ]
	}

	mutate { convert => ["elapsed", "integer"]}
	mutate { convert => ["bytes", "integer"]}
	mutate { convert => ["sentBytes", "integer"]}
	mutate { convert => ["Latency", "integer"]}
}

output {
	elasticsearch {
		hosts => "192.168.220.140:9200"
		index => "testResults"
		document_type => "csvResult"
	}
	stdout {}
}